<li class="body-section">

<!-- TÍTULO -->
<div align="center"><div class="titulo">Criar Conta</div></div>
<hr class="titulo_linha">

<!-- CONTEUDO -->
<div class="login_div">

  <% provide(:title, "Log in") %>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form_input" %><br /><br />

      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form_input" %><br /><br />
    
      <p align="center">Novo Usuário? <%= link_to "Criar Conta", signup_path %></p>

      <%= f.submit "Entrar", class: "btn btn-primary" %>
    <% end %>

</div>


              
</li> <!-- body-section -->