
<div class="banner_principal">
  <li class="header-section">
    <div class="section group">
      <% subjects.each_with_index do |(k, v), index| %>
        <% if index+1 == 5 %>
          <div class="section group">
        <% end %>
        <div class="col span_1_of_4">
          <div class="img_zoom">
            <%= image_tag( image_path("banner/#{index+1}.jpg"), class: 'img_banner') %>
            <div class="img_texto"> <p><%= k.to_s %></p> </div>
          </div>
        </div>
      <% end %>
    </div>
  </li>
</div>
<!-- //BANNER -->

<li class="body-section">

  <!-- TÍTULO -->
  <div align="center"><div class="titulo">Publicações Mais Votadas</div></div>
  <hr class="titulo_linha">

  <!-- TIMELINE -->
  <div class="centralizar_TM">
    <section class="posts">
      <% @posts.each_with_index do |post, index| %>
        <article class="post">
          <a class="post-img" href="#">
            <%= gravatar_for post.user %>
          </a>
          <div class="post-body">
            <div class="text">
              <h1><%= link_to post.title, post_path(post) %></h1>
              <p onclick="document.getElementById('opcoes<%=index+1%>').style.display='none';"> <%= post.content %> </p>
            </div>
            <p class="attribution">por <%= link_to post.user.name, user_path(post.user) %>
              <%= time_message post %></p>
            <% if logged_in? %>
              <p class="acoes">
                <% if post.user.id == current_user.id %>
                  <a href="#"><%= image_tag( image_path("icones/comentar.png")) %></a>
                  <a id="button_options"class="button_options<%=index+1%>"><%= image_tag( image_path("icones/opcoes.png")) %></a> <!-- PRA CADA POST TEM Q C 1 FUNCAOZINHA TIPO OPCOES3...4...-->
                  <div id="opcoes<%=index+1%>" class="button_options<%=index+1%>" style="display: none">
                    <div class="section group">
                      <div class="col span_1_of_3">
                        <a href=""><%= image_tag( image_path("icones/editar.png")) %> Editar</a>
                      </div>
                      <div class="col span_1_of_3">
                        <a href=""><%= image_tag( image_path("icones/excluir.png")) %> Excluir</a>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <%= vote_button(post) %>
                  <a href="#"><%= image_tag( image_path("icones/favoritar.png")) %></a>
                  <a href="#"><%= image_tag( image_path("icones/comentar.png")) %></a>
                  <%= image_tag( image_path("icones/bloquear.png")) %>
                <% end %>
              </p>
            <% end %>
          </div>
        </article><br />
      <% end %>
    </section>​
  </div><!-- // TIMELINE -->
</li> <!-- body-section -->
<!-- COMENTADO
<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user_id %></td>
        <td><%= post.tags %></td>
        <td><%= post.votes %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
COMENTADO -->
