<div class="banner_principal">
    <li class="header-section">
            <div class="section group">
              <% %w(INFORMÁTICA CULINÁRIA PROFISSÃO AUTOMOTIVOS CONSERTOS GAMES EDUCAÇÃO TECNOLOGIA).each_with_index do |subject, index| %>
              <% if index+1 == 5 %>
                <div class="section group">
              <% end %>
              <div class="col span_1_of_4">
                <div class="img_zoom">
                  <%= image_tag( image_path("banner/#{index+1}.jpg"), class: 'img_banner') %>
                  <div class="img_texto"> <p><%= subject %></p> </div>
                </div>
              </div>
              <% end %>
            </div>
    </li>
</div>
<!-- //BANNER -->

<li class="body-section">

<!-- TÍTULO -->
<div align="center"><div class="titulo">Publicações Mais Votadas</div></div>
<hr class="titulo_linha">
                
<!-- TIMELINE -->
<div class="centralizar_TM">
<section class="posts">
  <article class="post">
    <a class="post-img" href="#">
      <%= image_tag( image_path("usuarios/usuario_1.jpg")) %>
    </a>
    <div class="post-body">
      <div class="text">
              <h1><a href="">Título da bagaça</a></h1>
        <p onclick="document.getElementById('opcoes1').style.display='none';">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </p>
      </div>
      <p class="attribution">por <a href="#">Usuário 1</a> às 2:20pm, 4 Dez 2015</p>
            <p class="acoes">
              <a href="#"><%= image_tag( image_path("icones/votar.png")) %></a>
                <a href="#"><%= image_tag( image_path("icones/favoritar.png")) %></a> 
                <a href="#"><%= image_tag( image_path("icones/comentar.png")) %></a>
                <a onclick="document.getElementById('opcoes1').style.display='block';"><%= image_tag( image_path("icones/opcoes.png")) %></a> <!-- PRA CADA POST TEM Q C 1 FUNCAOZINHA TIPO OPCOES3...4...-->
                <div id="opcoes1" class="opcoes">
                    <div class="section group">
            <div class="col span_1_of_3" >
              <a href=""><%= image_tag( image_path("icones/bloquear.png")) %> Bloquear</a>
            </div>
            <div class="col span_1_of_3">
              <a href=""><%= image_tag( image_path("icones/editar.png")) %> Editar</a>
            </div>
                    <div class="col span_1_of_3">
              <a href=""><%= image_tag( image_path("icones/excluir.png")) %> Excluir</a>
            </div>
          </div>
        </div>
      </p>
    </div>
  </article><br />
  
   <article class="post">
    <a class="post-img" href="#">
      <%= image_tag( image_path("usuarios/usuario_2.jpg")) %>
    </a>
    <div class="post-body">
      <div class="text">
              <h1><a href="">Título da bagaça</a></h1>
        <p onclick="document.getElementById('opcoes2').style.display='none';">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </p>
      </div>
      <p class="attribution">por <a href="#">Usuário 2</a> às 2:20pm, 4 Dez 2015</p>
            <p class="acoes">
              <a href="#"><%= image_tag( image_path("icones/votar.png")) %></a>
                <a href="#"><%= image_tag( image_path("icones/favoritar.png")) %></a> 
                <a href="#"><%= image_tag( image_path("icones/comentar.png")) %></a>
                <a onclick="document.getElementById('opcoes2').style.display='block';"><%= image_tag( image_path("icones/opcoes.png")) %></a> <!-- PRA CADA POST TEM Q C 1 FUNCAOZINHA TIPO OPCOES3...4...-->
                <div id="opcoes2" class="opcoes">
                    <div class="section group">
            <div class="col span_1_of_3" >
              <a href=""><%= image_tag( image_path("icones/bloquear.png")) %> Bloquear</a>
            </div>
            <div class="col span_1_of_3">
              <a href=""><%= image_tag( image_path("icones/editar.png")) %> Editar</a>
            </div>
                    <div class="col span_1_of_3">
              <a href=""><%= image_tag( image_path("icones/excluir.png")) %> Excluir</a>
            </div>
          </div>
        </div>
      </p>
    </div>
  </article><br />
    
   <article class="post">
    <a class="post-img" href="#">
      <%= image_tag( image_path("usuarios/usuario_3.jpg")) %>
    </a>
    <div class="post-body">
      <div class="text">
              <h1><a href="">Título da bagaça</a></h1>
        <p onclick="document.getElementById('opcoes3').style.display='none';">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </p>
      </div>
      <p class="attribution">por <a href="#">Usuário 3</a> às 2:20pm, 4 Dez 2015</p>
            <p class="acoes">
              <a href="#"><%= image_tag( image_path("icones/votar.png")) %></a>
                <a href="#"><%= image_tag( image_path("icones/favoritar.png")) %></a> 
                <a href="#"><%= image_tag( image_path("icones/comentar.png")) %></a>
                <a onclick="document.getElementById('opcoes3').style.display='block';"><%= image_tag( image_path("icones/opcoes.png")) %></a> <!-- PRA CADA POST TEM Q C 1 FUNCAOZINHA TIPO OPCOES3...4...-->
                <div id="opcoes3" class="opcoes">
                    <div class="section group">
            <div class="col span_1_of_3" >
              <a href=""><%= image_tag( image_path("icones/bloquear.png")) %> Bloquear</a>
            </div>
            <div class="col span_1_of_3">
              <a href=""><%= image_tag( image_path("icones/editar.png")) %> Editar</a>
            </div>
                    <div class="col span_1_of_3">
              <a href=""><%= image_tag( image_path("icones/excluir.png")) %> Excluir</a>
            </div>
          </div>
        </div>
      </p>
    </div>
  </article><br />
</section>​
</div>
<!-- // TIMELINE -->
                
</li> <!-- body-section -->


<!-- COMENTADO 
<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user_id %></td>
        <td><%= post.tags %></td>
        <td><%= post.votes %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %> 
COMENTADO -->