<li class="body-section">

<p id="notice"><%= notice %></p>

<!-- TÍTULO -->
<div align="center"><div class="titulo">Post - <%= @post.title %></div></div>
<hr class="titulo_linha">

<!-- TIMELINE -->
  <div class="centralizar_TM">
    <section class="posts">
      <article class="post">
        <div class="post-img" href="#">
          <%= gravatar_for @post.user %>
        </div>
        <div class="post-body">
          <div class="text">
            <h1><%= @post.title %></h1>
            <pre onclick="document.getElementById('opcoes').style.display='none';"> <%= @post.content %> </pre>
          </div>
          <p class="attribution">por <%= link_to @post.user.name, user_path(@post.user) %> <%= time_message @post %> -
              <spam class="vote_post_<%=@post.id%>">
                <%= @post.votes_msg%>
              </spam>
          </p>
          <% if logged_in? %>
            <p class="acoes">
              <% if @post.user.id == current_user.id %>
                <a id="button_options"class="button_options"><%= image_tag( image_path("icones/opcoes.png")) %></a>
                <div id="opcoes" class="button_options" style="display: none">
                  <div class="section group">
                    <div class="opcoes">
                      <div class="col span_1_of_2">
                        <a href=""><%= image_tag( image_path("icones/editar.png")) %> Editar</a>
                      </div>
                      <div class="col span_1_of_2">
                        <a href=""><%= image_tag( image_path("icones/excluir.png")) %> Excluir</a>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <%= vote_button(@post) %>
                <% index = 0 %>
                <a id="favorite_options" class="favorite_options<%=index+1%>"><%= image_tag( image_path("icones/favoritar.png")) %></a>
                  <%= image_tag( image_path("icones/bloquear.png")) %>
                  <div class="favorite_options<%=index+1%>" style="display: none">
                    <div class="favoritos_estilo">
                    <%= form_for @favorite, url: post_favorites_path(@post), html: { method: :post } do |f| %>

                      <% current_user.folders.each_with_index do |folder, index2| %>
                          <%= radio_button_tag :name, folder.name , false, class: "folder_options favorite#{index+1}" %>
                          <%= label_tag "name#{folder.name}", folder.name %><br />
                      <% end %>
                        <%= radio_button_tag :name, nil, false, class: "new_folder_options favorite#{index+1}" %>
                        <%= f.text_field "new_folder_name", disabled: true, class: "new_folder_name__favorite#{index+1}", placeholder: 'Criar nova pasta' %><br />
                      <%= f.submit "Salvar", class: "btn btn-primary" %>
                    <% end %>
                    </div>
                  </div>
              <% end %>
            </p>
          <% end %>
        </div>
      </article><br />

    <% @post.comments.each_with_index do |comment, index| %>
      <article class="comentario">
          <a class="comentario-img" href="#">
            <%= gravatar_for comment.user %>
          </a>
          <div class="comentario-body">
            <div class="text">
              <pre> <%= comment.content %> </pre>
            </div>
            <p class="attribution">por <%= link_to comment.user.name, user_path(comment.user) %> <%= time_message comment %> </p>
                  <% if logged_in? %>
            <p class="acoes">
              <% if comment.user.id == current_user.id %>
                <a id="button_options"class="button_options<%=index+1%>"><%= image_tag( image_path("icones/opcoes.png")) %></a>
                <div id="opcoes" class="button_options<%=index+1%>" style="display: none">
                  <div class="opcoes">
                    <div class="section group">
                      <div class="col span_1_of_2">
                        <a href=""><%= image_tag( image_path("icones/editar.png")) %> Editar</a>
                      </div>
                      <div class="col span_1_of_3">
                        <a href=""><%= image_tag( image_path("icones/excluir.png")) %> Excluir</a>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </p>
          <% end %>
        </div>
      </article><br />
    <% end %>
    </section>​
  </div><!-- // TIMELINE -->

  <% if logged_in? %>
    <%= form_for @comment, url: post_comments_path(@post), html: { method: :post } do |f| %>

    <div class="login_div">
      <%= f.label :content, "Conteúdo" %><br />
      <%= f.text_area :content, size: '30x10' %><br /><br />
      <%= f.submit "Comentar", class: "btn btn-primary" %>
    </div>

    <% end %>
  <% end %>
</li>
