<!DOCTYPE html>
<html>
<head>
  <title>WorldNotes</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">


</head>
<body>
  <header class="slide">
    <ul id="navToggle" class="menu_resp slide">
      <li></li><li></li><li></li>
    </ul>
    <h1><a href="#"><%= image_tag( image_path('logo.png') )%></a></h1>
  </header>


<!-- MENU -->
  <nav class="slide">
    <ul>
            <li><a href="#" class="first">NOVO POST</a></li>
      <li><a href="#">CRIAR CONTA</a></li>
            <li><a href="#">SOBRE</a></li>
            <li><a href="#">CONTATO</a></li>
            <!-- FORM PESQUISAR E LOGIN EST~AO EM JAVASCRIPT/LOGIN/ABRIR.JS-->
            <li><a href="#" id="notification-pesquisar" class="progress-button">PESQUISAR</a></li>  
      <a href="#" id="notification-login" class="progress-button">
        <%= image_tag( image_path("icones/usuario_geral.png"), class: 'usuario_menu') %> 
        <!-- SE TIVER LOGADO IR P/ MINHA CONTA-->
      </a>
      <%= javascript_include_tag "login/classie" %>
      <%= javascript_include_tag "login/notificationFx" %>
      <%= javascript_include_tag "login/abrir" %>
    </ul>
  </nav>
<!-- //MENU -->



  <div class="content slide">
    <ul class="responsive">
      <%= yield %>

      <li class="footer-section">
        <p>© World Notes 2015 | Criado & Desenvolvido por <a href="#">World Notes</a></p>
      </li>
    </ul><!-- responsive -->
  </div><!-- content slide -->
</body>
</html>
