<!DOCTYPE html>
<html>
<head>
  <title>WorldNotes</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">


</head>
<body>
  <header class="slide">
    <ul id="navToggle" class="menu_resp slide">
      <li></li><li></li><li></li>
    </ul>
    <h1><a href="#"><%= link_to image_tag( image_path('logo.png') ), root_path %></a></h1>
  </header>


<!-- MENU -->
  <nav class="slide">
    <ul>
      <% if logged_in? %>
        <li><%= link_to "NOVO POST", new_post_path, class: 'first' %></li>
        <li><%= link_to "FAVORITOS", favorites_path(current_user) %></li>
      <% else %>
        <li><%= link_to "NOVO POST", login_path, class: 'first' %></li>
        <li><%= link_to "CRIAR CONTA", signup_path %></li>
      <% end %>
      <li><%= link_to "SOBRE", about_path %></li>
      <li><%= link_to "CONTATO", contact_path %></li>
      <li><a href="#" onClick="document.getElementById('pesquisar_topo').style.display='block';">PESQUISAR</a></li>
      <% if logged_in? %>
        <li><%= link_to "MINHA CONTA", my_account_path(current_user) %></li>
      <% else %>
        <li><%= link_to "LOGIN", login_path %></li>
      <% end %>
    </ul>
  </nav>
<!-- //MENU -->

<!-- PESQUISAR -->
<div id="pesquisar_topo" class="pesquisar_estilo">
  <a href="#" onClick="document.getElementById('pesquisar_topo').style.display='none';"><div align="right">X</div></a>
    <div class="pesquisar_text">Login <input type=text> <input type="submit" value="Buscar"></div>
</div>
<!-- //PESQUISAR -->

  <div class="content slide">
    <ul class="responsive">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>

      <li class="footer-section">
        <p>© World Notes 2015 | Criado & Desenvolvido por <a href="#">World Notes</a></p>
      </li>
    </ul><!-- responsive -->
  </div><!-- content slide -->
  <% if Rails.env.development? %>
  <div id='debugerDiv'> <%= debug(params) %> </div>
  <% end %>
</body>
</html>
